<div class="message-main">
  <div class="message-addition">
    <%= "追加情報" %>
  </div>
  <% @messages.each_with_index do |message, i| %>
    <%# <% @messages.each_with_index do |i, x|%>
    <div class="message-contributor">
          <%= @qa.user.last_name %>
          <%= @qa.user.first_name %><br>
          <%= @qa.created_at.strftime('%Y/%m/%d %H:%M') %><br>
    </div>
    <div class="message-under-line">
    <div class="message-subjects">
    <%= "(#{i+1})確認" %>
    </div>
    <div class="message-sub">
      <div class="message-main-two">
        <%= message.subject %>
      </div>
    </div>
    <div class="message-text">
    回答
    </div>
    <div class="message-show-three">
      <%= message.message %>
    </div><br>
   </div> 
   <%# <% end%>
  <% end %>

  <div class="message-comment-main">
    <div class="message-tuiki">
      追記
    </div>
      <%= form_with(model: [@qa, @message], method: :post) do |f|%>
      
        <div class="message-item">
          <%= f.text_area :subject, placeholder:"例) 件名", size: "40x2"  %><br>
        </div>
        <div class="message-item-b">
          <%= f.text_area :message, placeholder:"例) コメンツ", size: "70x15"  %><br>
        </div>    
          <%= f.submit '保存', class: "button" %>
      <% end %>
  </div>
</div>
