<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
    <link rel="stylesheet" href="style.css">
    </title>
  </head>
  <body>
  <%= render "devise/shared/header" %>

    <div class="main">
    <% if user_signed_in? %>
    <div class="manual-body">
      
      <div class="manual-side">
        <div class="manual-side-menu">
          メニュー
        </div>
        <div class="manual-a">
          <%= link_to "Q&A一覧へ", qas_path, class: "post" %>
        </div><br>
        <div class="manual-a">
          <%= link_to "お知らせ追加", new_notice_path, class: "post" %>
        </div>
          <%= link_to "QA追加", new_qa_path, class: "post" %>
      </div>

      <div class="manual-list">
        <div class="notice-header-list">
          <span class="manual-list-menu">
            お知らせ
          </span>
            <div class="notice-list-menu-two">
              <%= form_with(model: @notice, local: true) do |f|%>
              <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}) %><br><br>
              <% end %>
            </div>
        </div>

          <div class="notice-top">
          <div class="notice-main-main">
            <div class="notice-main-in">
              日時
            </div>
            <div class="notice-main-category">
              カテゴリ
            </div>
            <div class="notice-main-contents">
              内容
            </div>
            <div class="notice-main-author">
              入力者
            </div>
          </div>
              <% @notices.each do |notice| %>
                  <div class="notice-side-one">
                    <div class="notice-main-one">
                      <%= notice.created_at.strftime('%Y/%m/%d %H:%M') %><br>
                    </div>
                    <div class="notice-main-two">
                      <%= notice.genre.name %>
                    </div>
                    <div class="notice-main-three">
                        <%= link_to notice.subject, notice_path(notice.id), class: "post" %>
                    </div>
                     <div class="notice-main-force">
                        <%= notice.user.last_name %>
                        <%= notice.user.first_name %>
                    </div>
                  </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  
    <% else %> 
      <div class="main-menu">
        <div class="main-center">
            <div class="login-in">
              <%= link_to "ログイン", user_session_path, class: "post" %><br>
            </div>
            <div class="login-new">
              <%= link_to "新規登録", new_user_registration_path, class: "post" %>
            </div>
        </div>
      </div>
    <% end %>

    </div>
  </body>
  <%= render "devise/shared/footer" %>
</html>