<%= render "devise/shared/header" %>

<div class="notices-main">
  <%= "お知らせテスト" %>
  <% @notices.each do |notice| %>
  <div class="notices">
          <div class="notices-sub">
            <div class="notices-subjects">
            件名
            </div>
              <div class="notice-show-two">
                <%= notice.subject %>
              </div>
          </div>
                  <div class="notice-text">
                  本文
                  </div>
              <div class="notice-show-three">
                <%= notice.notice %>
              </div>

  </div>
  <% end %>
</div>
<%= render "devise/shared/footer" %>