<header class="site-header">
    <div class="one_share">
      <%= link_to "share_works", root_path, class: "post" %>
        <% if user_signed_in? %>
          <div class="light-header">
            <%= current_user.last_name %>
            <%= current_user.first_name %>
            <%= current_user.affiliation %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
          </div>
        <% end %>
    </div>
</header> 