<%= render "devise/shared/header" %>
  <html>  
    <body>
      <div class="main">
        <% if user_signed_in? %>
          <div class="notice-body">

            <%= render "devise/shared/side_menu" %>
                  <div class="manual-list">
                  <div class="notice-header-list">
                    <span class="manual-list-menu">
                      ポイントカードについてのQA
                    </span>
                      <div class="notice-list-menu-two">
                      <%= form_with(model: @notice, local: true) do |f|%>
                        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}) %><br>
                      <% end %>
                      </div>
                       </div>
                    <br>

                <div class="notice-top">
                  <div class="notice-main-main">
                    <div class="notice-main-in">
                      日時
                    </div>
                    <div class="notice-main-category">
                      カテゴリ
                    </div>
                    <div class="notice-main-contents">
                      内容
                    </div>
                    <div class="notice-main-author">
                      入力者
                    </div>
                  </div>
    
                  <% @qas.each do |qa| %>
                    <div class="notice-side-one">
                      <div class="notice-main-one">
                        <%= qa.created_at.strftime('%Y/%m/%d %H:%M') %><br>
                      </div>
                      <div class="notice-main-two">
                        <%= qa.genre.name %>
                      </div>
                      <div class="notice-main-three">
                        <%= link_to qa.subject, qa_path(qa.id), class: "get" %>
                      </div>
                      <div class="notice-main-force">
                        <%= qa.user.last_name %>
                        <%= qa.user.first_name %>
                      </div>         
                    </div>
                  <% end %>
                        </div>
                    </div>
                  </div>
                </div>
                <% else %> 
                <div class="main-menu">
                  <div class="main-center">
                      <div class="login-in">
                        <%= link_to "ログイン", user_session_path, class: "post" %><br>
                      </div>
                      <div class="login-new">
                        <%= link_to "新規登録", new_user_registration_path, class: "post" %>
                      </div>
              </div>
            </div>
          <% end %>
      </div>
    </body>
  </html>
<%= render "devise/shared/footer" %>