<%= render "devise/shared/header" %>

<div class="notices-main">
  <div class="qa-title-main">
    <div class="qa-title">
      <%= "Q&Aテスト" %>
    </div>
    <%= link_to "QA一覧へ", qas_path, class: "post" %>
  </div>
    <% @qas.each do |qa| %>
      <div class="notices">
              <div class="qa-subjects">
              Q.
              </div>
                <div class="qa-show-two">
                  <%= qa.question %>
                </div>
              <div class="qa-text">
              A.
              </div>
              <div class="qa-show-three">
                <%= qa.answer %>
              </div><br><br>
        <% end %>

      <%= render "messages/show" %>
  <%= render "devise/shared/footer" %>
  </div>
</div>